<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EDUZilla</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EDUZilla.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a26751704a.js" crossorigin="anonymous"></script>
</head>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-1 mb-0">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link active" asp-controller="Home" asp-action="Notice">
                                    EDUZilla
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            }
                            else
                            {
                                <a class="nav-link active" asp-controller="Home" asp-action="ReturnToHomePage">
                                    EDUZilla
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-globe"></i>
                            @languageResource["Language"]
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end btn-primary">
                            <li class="nav-item">
                                <a class="dropdown-item text-light" asp-controller="Language" asp-action="Change" asp-route-culture="pl-PL" asp-route-returnUrl="@Url.Action()">polski</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item text-light" asp-controller="Language" asp-action="Change" asp-route-culture="en-Us" asp-route-returnUrl="@Url.Action()">english</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <partial name="_UserBarPartial" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - EDUZilla - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



