@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@using EDUZilla.ViewModels.Announcement
@model AnnouncementViewModel
@{
    ViewData["Title"] = "Add new announcement";
}

<div>
    <form method="post">
        <div class="card">
            <div class="card-header color-header">
                <div class="d-flex py-1">
                    <div class="form-floating w-75">
                        <input asp-for="Topic" class="form-control" aria-required="true">
                        <label class="form-label">@languageResource["Topic"]</label>
                    </div>
                    <div class="form-floating ms-auto w-auto">
                        @if (@Model.ChosenClass != null)
                        {
                            <input asp-for="ChosenClassId" value="@Model.ChosenClass.Id" class="form-control" aria-required="true">
                            <label class="form-label">Klasa</label>
                        }
                    </div>

                </div>
            </div>
            <div class="card-body color-body">
                <div class="form-floating pb-4 py-1 ">
                    <textarea asp-for="Content" class="form-control" aria-required="true"></textarea>
                    <label class="form-label">@languageResource["Content"]</label>
                </div>
                <div class="d-flex">

                    <div class="form-floating">
                        <input asp-for="SenderId" class="form-control" aria-required="true" data-val="true" value="@UserManager.GetUserAsync(User).Result.Id">
                        <label class="form-label w-auto">Email</label>
                    </div>
                    <div class="form-floating align-self-center px-4">
                        <p class="align-self-center">-</p>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Created" class="form-control" aria-required="true" data-val="true" value="@DateTime.Now">
                        <label class="form-label w-auto">Date</label>
                    </div>

                    <div class="form-floating ms-auto align-self-center">
                        <button type="submit" class="btn btn-primary">@languageResource["AddAnnouncement"] <i class="fa-regular fa-square-plus"></i></button>
                    </div>

                </div>

            </div>
        </div>
    </form>

</div>



