@using EDUZilla.ViewModels.Class



@{
    ViewData["Title"] = "Zmień wychowawce";
}

<h1>@languageResource["TutorName"]</h1>

<p class="mb-3">
    <b>@languageResource["CurrentClassTutor"] @Model.ClassName: </b>@if (Model.TutorId == null)
    {
        @languageResource["NoTutor"]
        ;
    }
    else
    {
        @Model.TutorName
        ;
    }
</p>

@if (Model.TutorId != null)
{
    <form method="post" asp-action="DeleteTutor">
        <button value="@Model.ClassId" name="id" type="submit" class="btn btn-danger mb-3">@languageResource["DeleteTutor"]</button>
    </form>
}


<form method="post" asp-action="EditTutor">
    <input type="hidden" name="id" value="@Model.ClassId" />
    <div class="mb-3">
        <label class="form-label">@languageResource["ChooseTeacher"]</label>
        <select class="form-select" asp-items="Model.AvailableTeachers" name="teacher"></select>
    </div>

    <button type="submit" class="btn btn-primary">@languageResource["Save"]</button>
</form>
