@using EDUZilla.ViewModels.Student;
@{
    ViewData["Title"] = "Edytuj klasę";
}

<h1>@languageResource["EditClass"]</h1>
<form method="post" asp-action="EditClass">
    <input type="hidden" name="ClassId" value="@Model.ClassId">
    <h2>@languageResource["StudentsBelongingToClass"] @Model.Name</h2>
    <table class="table table-dark table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@languageResource["FirstName"]</th>
                <th scope="col">@languageResource["LastName"]</th>
                <th scope="col">@languageResource["EmailAddress"]</th>
                <th scope="col">@languageResource["Delete"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentListViewModel student in Model.AssignedStudents)
            {
                <tr>
                    <td scope="row"></td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Email</td>
                    <td>
                        <input type="checkbox" name="DeleteStudent" class="form-check-input" value="@student.StudentId">
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <h2>@languageResource["StudentsNotAssigned"]</h2>
    <table class="table table-dark table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@languageResource["FirstName"]</th>
                <th scope="col">@languageResource["LastName"]</th>
                <th scope="col">@languageResource["EmailAddress"]</th>
                <th scope="col">@languageResource["Add"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentListViewModel student in Model.NotAssignedStudents)
            {
                <tr>
                    <td scope="row"></td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Email</td>
                    <td>
                        <input type="checkbox" name="AddStudent" class="form-check-input" value="@student.StudentId">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">@languageResource["Save"]</button>
</form>
