@using EDUZilla.ViewModels.Class;
@{
    ViewData["Title"] = @languageResource["Classes"];
}

<h1>@languageResource["Classes"]</h1>
<ul class="list-group mb-3">
    @if (Model != null)
    {
        @foreach (ClassListViewModel classModel in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-baseline">
                @classModel.Id @classModel.Name
                <div class="d-flex align-items-baseline">
                    <div class="badge bg-primary rounded-pill mx-1">
                        @classModel.Count
                        <i class="fa-solid fa-people-group"></i>
                    </div>
                    <a asp-action="EditTutor" asp-route-id="@classModel.Id" class="btn btn-primary rounded mx-1">Wychowawca</a>
                    <a asp-action="EditClass" asp-route-id="@classModel.Id" class="btn btn-primary rounded ms-1">Uczniowie</a>
                </div>
            </li>
        }
    }
    else
    {
        <li class="list-group-item">Brak klas w systemie</li>
    }
</ul>
<form method="post" asp-controller="Class" asp-action="AddClass">
    <div class="mb-3">
        <label class="form-label"></label>
        <input name="name" type="text" placeholder="Nazwa klasy" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">@languageResource["CreateClass"]</button>
</form>