@using EDUZilla.ViewModels.Student;
@using EDUZilla.ViewModels.Parent;
@model StudentAddParentViewModel;

@{
    ViewData["Title"] = "Dodaj rodzica";
}

<h1>@languageResource["AddParent"]</h1>
<p>@Model.Id</p>
<p>@Model.Email</p>
<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@languageResource["Parent"]:</p>
<p>@Model.ParentId</p>
<p>@Model.ParentFirstName</p>
<p>@Model.ParentLastName</p>

<h3>@languageResource["Parents"]</h3>
@foreach (ParentListViewModel parent in Model.Parents)
{
    <p>
        @parent.Email @parent.FirstName @parent.LastName
        <form asp-action="AddParent" method="post">
            <input type="hidden" name="studentId" value="@Model.Id" />
            <input type="hidden" name="parentId" value="@parent.Id" />
            <button type="submit" class="btn btn-primary">@languageResource["Add"]</button>
        </form>
    </p>
}
