@*
*@
@{
    ViewData["Title"] = @languageResource["AdminPanel"];
}

<h1>@languageResource["AdminPanel"]</h1>
<a asp-action="CreateUser" class="btn btn-primary">@languageResource["CreateUser"]</a>
<a asp-action="CreateRole" class="btn btn-primary">@languageResource["CreateRole"]</a>
<a asp-action="ViewStudents" class="btn btn-primary">@languageResource["ViewStudents"]</a>
<a asp-controller="Class" asp-action="ViewClasses" class="btn btn-primary">@languageResource["ViewClasses"]</a>