@using EDUZilla.ViewModels.Student

@{
    ViewData["Tilte"] = "Lista uczniów";
}

<table class="table table-sm table-bordered table-bordered">
    <tr><th>@languageResource["StudentId"]</th><th>@languageResource["FirstName"]</th><th>@languageResource["LastName"]</th><th>@languageResource["AddParent"]</th></tr>
    @foreach (StudentListViewModel student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td><a class="btn btn-sm btn-primary" asp-action="AddParent" asp-controller="Student" asp-route-id="@student.StudentId">@languageResource["AddParent"]</a></td>
        </tr>
    }
</table>
